<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" >
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width,initial-scale=1.0" >
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="{$Think.config.webinfor.keyword}">
<meta name="description" content="{$Think.config.webinfor.description}">
<meta name="Author" content="{$Think.config.webinfor.webname}">
<meta name="renderer" content="webkit">
<meta name="baidu_union_verify" content="{$Think.config.webinfor.baiduu}">
<meta name="google-site-verification" content="{$Think.config.webinfor.googlev}">
<meta name="baidu-site-verification" content="{$Think.config.webinfor.baiduv}">
<meta name="sogou_site_verification" content="{$Think.config.webinfor.sogouv}">
<meta name="360-site-verification" content="{$Think.config.webinfor.360v}">
<link rel="shortcut icon" href="__PUBLIC__/static/favicon.ico" />
<link rel="bookmark" href="__PUBLIC__/static/favicon.ico" type="image/x-icon"/>
<title>注册-{$Think.config.webinfor.webname}</title>
{js file="__PUBLIC__/static/common/jquery-3.1.1.js" /}
{css file="__PUBLIC__/static/common/bootstrap/css/bootstrap.min.css" /}
{css file="__PUBLIC__/static/common/nprogress/nprogress.css" /}
{css href="__PUBLIC__/static/index/css/base.css" /}
<style>
	body{background: #f2f2f2;}
	#logregbox{padding-top: 2rem;margin-bottom: 3rem;background: #fff;border-radius: 4px;box-shadow:3px 3px 15px #666;}
</style>
</head>
<body>
	<header id="top">
		{include file="public/nav" /}
	</header>
	<main class="container-fluid">
        <div id="logregbox" class="col-md-6 col-md-offset-3">
        	<h3 style="padding-bottom:1rem;text-indent: 3rem;">会员注册</h3>
            <form action="" method="post" name="regform" class="form-horizontal">          	
			  	<div class="form-group">
				    <label class="col-md-2 control-label" for="username">用户名</label>
				    <div class="col-md-6 input-group" style="float: left;">
					    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					    <input type="text" class="form-control" name="username" id="username" required autofocus placeholder="用户名为5-30个字符" title="用户名为5-30个字符" maxlength="12">
					</div>
			  	</div>
			  	<div class="form-group">
				    <label class="col-md-2 control-label" for="password" >密&nbsp;&nbsp;码</label>
				    <div class="col-md-6 input-group" style="float: left;">
					    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					    <input type="password" name="password" id="password" class="form-control" required placeholder="密码为5-12个字符" maxlength="12">
					</div>			    
			  	</div>
			  	<div class="form-group">
				    <label class="col-md-2 control-label" for="password_confirm" >密&nbsp;&nbsp;码</label>
				    <div class="col-md-6 input-group" style="float: left;">
					    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					    <input type="password" name="password_confirm" id="password_confirm" class="form-control" required placeholder="确认密码" maxlength="12" data-confirm="password" data-confirm-message="密码与上次不一致">
					</div>			    
			  	</div>
			  	<div class="form-group">
				    <label class="col-md-2 control-label" for="tel" >手机号</label>
				    <div class="col-md-6 input-group" style="float: left;">
					    <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
					    <input type="tel" name="tel" id="tel" class="form-control" required placeholder="手机号码用于找回密码" maxlength="11" check-type="mobile" check-type-msg="请输入正确的手机号">
					</div>			    
			  	</div>
			  	<div class="form-group">
					<label for="yanzhengma" class="col-md-2 control-label">验证码</label>
					<div class="col-md-3 input-group" style="float: left;">
					    <span class="input-group-addon"><i class="glyphicon glyphicon-check"></i></span>
					    <input type="text" name="captcha" id="captcha" class="form-control" required placeholder="请输入验证码" maxlength="{$Think.config.captcha.length}" pattern="[A-z0-9]{4}">
					</div>
					<div class="col-md-3 col-sm-3">						
						<a href="javascript:void(0)" title="点击切换验证码" onclick="document.getElementById('yzpicreg').src='{:captcha_src()}?id='+Math.random() ">
							<img src="{:captcha_src()}" alt="captcha" id="yzpicreg">
						</a>
				  	</div>
				</div>
			  	<div class="form-group">
				  	<div class="col-md-offset-2 col-md-8">
				  		<input type="hidden" name="preurl" value="{$Think.server.http_referer}">
				     	<button type="submit" class="btn btn-primary btn-lg" style="padding: 1rem 3rem;"> 注册 </button>
				     	<button type="reset" class="btn btn-default btn-lg" style="padding: 1rem 3rem;"> 重置 </button>
				    </div>
			    </div>
			    <p style="text-align: center;margin-top: 2rem;"><a href="{:url('index/login/index')}">已有账号？立即登录</a></p>
			</form>
        </div>
	</main>
	<footer id="bottom">
		<div class="container">
			{include file="public/footer" /}
		</div>
	</footer>

	<!--侧边悬浮框-->
	{include file="public/fixnav" /}
	{js file="__PUBLIC__/static/common/bootstrap/js/bootstrap.min.js" /}
	{js file="__PUBLIC__/static/common/nprogress/nprogress.js" /}
	{js file="__PUBLIC__/static/common/bootstrap_validate.js" /}
	<script>
		//表单验证         
		checkform($("form[name=regform]"));
	</script>
	
</body>
</html>