{extend name="public/base" /}

{block name="title"}修改友情链接模板文件源码{/block}

{block name="cssjs"}
	{css href="__PUBLIC__/static/admin/css/base.css" /}
{/block}
{block name="ueditor"}{/block}

{block name="section"}
	<p class="welcome"><a href="{:url('admin/index/index')}"><span class="glyphicon glyphicon-home"></span> 首页</a> > <a href="{:url('flink/flinklist')}">友情链接管理</a> > 修改链接</p>
	<div class="wrap">
		<ul class="shortcut titlebar clear">
			<li><b>修改栏目</b></li>
		</ul>	
		<table class="addcatetb table">
			<form action="" method="post" name="addcateform" >
			<tr>
				<td width="50%" class="lefttd"><font color="red">* </font>链接名称</td>
				<td><input type="text" name="title" value="{$data.title}"></td>
			</tr><tr>
				<td class="lefttd"><font color="red">* </font>链接url</td>
				<td><input type="text" name="urlpath" value="{$data.urlpath}"></td>
			</tr><tr>
				<td class="lefttd">链接描述</td>
				<td><input type="text" name="urldesc" value="{$data.urldesc}"></td>
			</tr><tr>
				<input type="hidden" name="fid" value="{$data.fid}">
				<td colspan=2 class="confirm"><input type="submit" value="确认修改" ></td>
			</tr>
			</form>
		</table>
	</div>
{/block}
