{extend name="public/base" /}

{block name="title"}法律声明-{__block__}{/block}

{block name="cssjs"}
	{css href="__PUBLIC__/static/index/css/base.css" /}
{/block}

{block name="section"}
	<h3 class="text-center">法律声明</h3>
	<p>法律声明</p>
	<p>法律声明</p>
	<p>法律声明</p>
	<p>法律声明</p>
	<p>法律声明</p>
	<p>法律声明</p>
	<p>法律声明</p>
	<p>法律声明</p>
	<p>法律声明</p>
	<p>法律声明</p>
	<p>法律声明</p>
	<p>法律声明</p>
	<p>法律声明</p>
	<p>法律声明</p>
{/block}

{block name="asidesearch"}{__block__}{/block}

{block name="aside"}{__block__}{/block}

{block name="asiderelative"}{/block}

{block name="js"}

{/block}
