{extend name="public/base" /}

{block name="title"}帮助中心-{__block__}{/block}

{block name="cssjs"}
	{css href="__PUBLIC__/static/index/css/base.css" /}
{/block}

{block name="section"}
	<h3 class="text-center">帮助中心</h3>
	<p>帮助中心</p>
	<p>帮助中心</p>
	<p>帮助中心</p>
	<p>帮助中心</p>
	<p>帮助中心</p>
	<p>帮助中心</p>
	<p>帮助中心</p>
	<p>帮助中心</p>
	<p>帮助中心</p>
	<p>帮助中心</p>
	<p>帮助中心</p>
	<p>帮助中心</p>
	<p>帮助中心</p>
	<p>帮助中心</p>
{/block}

{block name="asidesearch"}{__block__}{/block}

{block name="aside"}{__block__}{/block}

{block name="asiderelative"}{/block}

{block name="js"}

{/block}
