<div class="row">
<!-- 	<div class="col-md-2 hidden-xs bottom-logo">
		<a href="{:url('index/index')}">
			<img src="__PUBLIC__/static/logo.png" title="sitename" class="img-response" style="vertical-align: middle;">
			<span>ThinkPhp5.0.9</span>
		</a>
	</div>
 -->
	<div class="col-md-9">
		<ul class="list-inline bottom-nav">
			<li><a href="{:url('single/aboutus')}" title="关于我们">关于我们</a></li>
			<li><a href="{:url('single/aboutserver')}" title="服务条款">服务条款</a></li>
			<li><a href="{:url('single/aboutlayer')}" title="法律声明">法律声明</a></li>
			<li><a href="{:url('single/sitemap')}" title="网站地图">网站地图</a></li>
			<li><a href="{:url('single/helpcenter')}" title="帮助中心">帮助中心</a></li>
		</ul>
		<div class="copyright">
			<span>Copyright©2016-2017 {$Think.config.webinfor.webname} 版权所有</span>
			<span><a href="#">{$Think.config.webinfor.beian}</a></span>
		</div>
	</div>
	<div class="safe-logo" class="col-md-3">
		<img src="__PUBLIC__/static/index/image/sprite_safe.png" width="222" alt="360网站认证，可信任网站" title="360网站认证，可信任网站">
	</div>
</div>