{extend name="public/base" /}

{block name="title"}修改栏目模板文件源码{/block}

{block name="cssjs"}
	{css href="__PUBLIC__/static/admin/css/base.css" /}
{/block}
{block name="ueditor"}{/block}

{block name="section"}
	<p class="welcome"><a href="{:url('admin/index/index')}"><span class="glyphicon glyphicon-home"></span> 首页</a> > <a href="{:url('cate/catelist')}">栏目管理</a> > 修改栏目</p>
	<div class="wrap">
		<table class="addcatetb table">
			<form action="" method="post" name="addcateform" >
			<tr>
				<td width="50%" class="lefttd"><font color="red">* </font>栏目名称</td>
				<td><input type="text" name="catename" value="{$data.catename}"></td>
			</tr><tr>
				<td class="lefttd"><font color="red">* </font>栏目类型</td>
				<td>					
					<input type="radio" value="0" {if condition='$data.catetype==0'}checked="checked"{/if} id="lanmu" name="catetype">
					<label for="lanmu" >列表栏目</label>
					<input type="radio" value="1" {if condition='$data.catetype==1'}checked="checked"{/if} id="liuyan" name="catetype">
					<label for="liuyan" >留言板</label>
				</td>
			</tr><tr>
				<td class="lefttd">关键词</td>
				<td><input type="text" name="catekeywords" value="{$data.catekeywords}"></td>
			</tr><tr>
				<td class="lefttd">栏目描述</td>
				<td><input type="text" name="catedesc" value="{$data.catedesc}"></td>
			</tr><tr>
				<input type="hidden" name="cid" value="{$data.cid}">
				<td colspan=2 class="confirm"><input type="submit" value="确认修改" ></td>
			</tr>
			</form>
		</table>
	</div>
{/block}